@using DOMINIO;
@{
    ViewData["Title"] = "Listado";
}

<h1>Listado</h1>

<table class="table table-striped table-bordered table-hover table-sm text-nowrap">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad de animales</th>
            <th scope="col">Potencial precio de venta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Potrero p in ViewBag.Potreros)
        {
  
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Descripcion</td>
                    <td>@p.Animal.Count</td>
                    <td>@p.PotencialPrecioDeVenta()</td>
                </tr>
            }
    </tbody>
</table>


