@using DOMINIO;
@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Inicio";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Bienvenido a la plataforma de Gestión de Cuidado y Engorde de animales</h1>
            <p class="lead mt-4">Nos alegra tenerte aquí. Nuestra plataforma está diseñada para ayudarte a manejar y optimizar el cuidado de tus animales de manera eficiente.</p>
            <hr class="my-4">
            <p>Desde la gestión de alimentación hasta el seguimiento de la salud, te ofrecemos todas las herramientas necesarias para asegurar el bienestar y crecimiento de tus bovinos y ovinos.</p>
        </div>
    </div>
</div>

