@using DOMINIO;

@{
    ViewData["Title"] = "VerPeon";
}

<h1>Peones:</h1>

<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Fecha de ingreso</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado e in Sistema.Instancia.Empleados)
        {   if (e.GetTipo() == "Peon")
            {
                <tr>
                <td> @e.Email</td>
                <td> @e.Nombre</td>
                <td>@e.FchIngreso.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" href="~/tareas/tareaspeon?email=@e.Email">Ver tareas</a>
                    </td>
               
            </tr>
        }
        }
    </tbody>
</table>


