
@{
    ViewData["Title"] = "No Autorizado";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-danger">Acceso Denegado</h1>
            <p class="lead mt-4">No tienes permiso para acceder a esta página.</p>
            <hr class="my-4">
            <p>Si crees que esto es un error, por favor contacta a tu administrador.</p>
            <a class="btn btn-primary btn-lg mt-3" href="~/Home/Index" role="button">Volver al Inicio</a>
        </div>
    </div>
</div>
