@using DOMINIO;

@{
    ViewData["Title"] = "VerPeon";
}

<h1>Mis datos:</h1>

<table class="table table-striped table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre</th>
            <th>Fecha de ingreso</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> @ViewBag.Peon.Email</td>
            <td> @ViewBag.Peon.Nombre</td>
            <td>@ViewBag.Peon.FchIngreso.ToShortDateString()</td>
        </tr>
    </tbody>
</table>


