@using DOMINIO;
@{
    ViewData["Title"] = "TareasPeon";
}

<h1>Tareas de: @ViewBag.Peon.Nombre</h1>

<table class="table table-striped table-bordered table-hover table-sm text-nowrap">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de realización</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tarea t in ViewBag.Peon.Tareas)
        {
            
                <tr>
                    <td>@t.Id</td>
                    <td>@t.Desc</td>
                    <td>@t.FchRealizacion.ToShortDateString()</td>
                </tr>
            
        }
    </tbody>
</table>